body {
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-image: url(../img/Home_Banner.png);
    height: 700px;
}

.quicksearch button {
    height: 37px;
    width: 37px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(../img/Icon_search.png);
    background-color: white;
}

.quicksearch {
    background-color: white;
    margin-right: 10px;
}

#quicksearch-hidden {
    margin-right: 10px;
}

form {
    background-color: white;
    margin-top: 8%;
    padding: 30px;
    width: 470px;
    position: fixed;
}

.icon_KHTN {
    width: 100px;
}

input {
    border: none!important;
    border-bottom: 1px solid black!important;
    border-radius: 0px!important;
    padding-left: 0px!important;
}