* {}

.quicksearch button {
  height: 37px;
  width: 37px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(../img/Icon_search.png);
  background-color: white;
}

.quicksearch {
  background-color: white;
  margin-right: 10px;
}

#quicksearch-hidden {
  margin-right: 10px;
}

.banner {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/Home_Banner.png);
  background-color: white;
  font-family: "Ballo" !important;
  text-align: center;
  position: relative;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.banner h1 {
  font-size: 80px;
  color: white;
}

.banner p {
  font-size: 25px;
  color: white;
}

.content img {
  height: 250px;
  margin-bottom: 40px;
}


.subcontentflex {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.subcontent {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
}

.title {
  text-align: center;
}

.newbook {
  padding-bottom: 40px;
  padding-top: 10px;
}

.newbook .content {
  background-color: #d1eecc;
  padding-top: 40px;
}

.catalog {
  margin: 40px 0px;
}

.bookinfo {
  position: relative;
}

.controlbtn {
  position: absolute;
  right: 0;
  bottom: 10%;
}

.controlbtn button {
  border: 0px solid;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    line-height: 300px;
    height: 300px;
    width: 60px;
    background-image: none;
}
.carousel-control-next-icon:after
{
    content: '▷';
    font-size: 80px;
    color: #F6C89F ;
}
.carousel-control-prev-icon{
    transform: rotate(180deg);
}
.carousel-control-prev-icon:after {
    content: '▷';
    font-size: 80px;
    color: #F6C89F ;
}