* {
  font-family: "Baloo";
}
.quicksearch button {
  height: 37px;
  width: 37px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(../img/Icon_search.png);
  background-color: white;
}

.quicksearch {
  background-color: white;
  margin-right: 10px;
}

#quicksearch-hidden {
  margin-right: 10px;
}

.banner {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/Home_Banner.png);
  background-color: white;
  font-family: "Ballo" !important;
  text-align: center;
}

.banner h1 {
  font-size: 50px;
  color: white;
}

.content img {
  height: 350px;
}
