<link rel="stylesheet" href="/public/css/resetAdmin.css">
<link rel="stylesheet" href="/public/css/adminBook.css">
<script type="text/javascript" src="/public/js/menuAdmin.js"></script>


<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img
        src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h5 class="m-0">Phạm Khánh Duy</h5>
        <p class="font-weight-light text-muted mb-0">Quản lí thư viện</p>
      </div>
    </div>
    <div class="adminLogout" style="text-align: right">
      <a href="/user/logout">Log out</a>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/admin" class="nav-link text-dark font-italic">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        Trang chủ
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/book-management " class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Quản lí sách
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-user mr-3 text-primary fa-fw"></i>
        Quản lí tài khoản
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-pencil mr-3 text-primary fa-fw"></i>
        Danh mục tác giả
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        Thể loại sách
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-exclamation mr-3 text-primary fa-fw"></i>
        Yêu cầu (0)

      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Sách đang được mượn
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
        Thống kê
      </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>

  <!-- Demo content -->
  <h2 class="display-4 text-white">Quản lí sách</h2>
  <hr>
  <div class="search">
    <form>
      <div class="form-group">
        <label for="search">Nhập tên sách: </label>
        <input type="email" class="form-control" id="search" placeholder="ví dụ: Nhập môn">
      </div>
    </form>
  </div>
  <div class="searchAdv">
    <a data-toggle="collapse" href="#searchAdv"><i>Tìm kiếm nâng cao ?</i></a>
    <div class="collapse" id="searchAdv">
      <div class="card card-body">
        <form>
          <div class="form-group">
            <label for="searchAdv_Authername">Tên tác giả</label>
            <input type="email" class="form-control" id="searchAdv_Authername" placeholder="Nhập tên của tác giả">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Thể loại</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Tất cả</option>
              <option>Lập trình web</option>
              <option>Java</option>
              <option>C và C++</option>
              <option>Công nghệ mới</option>
              <option>Khác</option>
            </select>
          </div>
          <div class="form-group">
            <label for="searchAdv_EstablishYear">Năm xuất bản</label>
            <input type="email" class="form-control" id="searchAdv_EstablishYear" placeholder="Nhập năm xuất bản">
          </div>
          <div class="form-group">
            <label for="searchAdv_Language">Ngôn ngữ</label>
            <select class="form-control" id="searchAdv_Language">
              <option>Tiếng việt</option>
              <option>Tiếng anh</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="searchbtnWrapper">
    <button type="button" class="btn btn-primary" onclick="searchFunction()">Tìm kiếm</button>
  </div>

  <section id="tableContent">
    <div class="controlButton">
      <button type="button" class="btn btn-primary" onclick="searchFunction()">Thêm sách</button>
      <button type="button" class="btn btn-primary" onclick="searchFunction()">Sửa sách</button>
      <button type="button" class="btn btn-primary" onclick="searchFunction()">Xóa sách</button>
    </div>
    <div id="showRes">Hiển thị 20 / 30 kết quả</div>
    <div style="overflow-x:auto;">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên sách</th>
            <th>Thể loại sách</th>
            <th>Tác giả</th>
            <th>Nhà xuất bản</th>
            <th>Năm xuất bản</th>
            <th>Version</th>
            <th>Tái bản</th>
            <th>ISBN</th>
            <th>Số lượng</th>
            <th>Đã cho mượn</th>
            <th>Còn lại</th>
            <th>Link hình ảnh</th>
            <th>Ẩn</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Nhập môn lập trình</td>
            <td>
              <ul>
                <li>Nhập môn</li>
                <li>C/C++</li>
              </ul>
            </td>
            <td>Chưa cập nhật</td>
            <td>Nhà xuất bản thanh niên</td>
            <td>2013</td>
            <td>1</td>
            <td>4</td>
            <td>123AFG00</td>
            <td>28</td>
            <td>12</td>
            <td>15</td>
            <td>img/book1.png</td>
            <td>
              <input type="checkbox" aria-label="Checkbox for following text input">
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Nhập môn lập trình</td>
            <td>
              <ul>
                <li>Nhập môn</li>
                <li>C/C++</li>
              </ul>
            </td>
            <td>Chưa cập nhật</td>
            <td>Nhà xuất bản thanh niên</td>
            <td>2013</td>
            <td>1</td>
            <td>4</td>
            <td>123AFG00</td>
            <td>28</td>
            <td>12</td>
            <td>15</td>
            <td>img/book1.png</td>
            <td>
              <input type="checkbox" aria-label="Checkbox for following text input">
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Nhập môn lập trình</td>
            <td>
              <ul>
                <li>Nhập môn</li>
                <li>C/C++</li>
              </ul>
            </td>
            <td>Chưa cập nhật</td>
            <td>Nhà xuất bản thanh niên</td>
            <td>2013</td>
            <td>1</td>
            <td>4</td>
            <td>123AFG00</td>
            <td>28</td>
            <td>12</td>
            <td>15</td>
            <td>img/book1.png</td>
            <td>
              <input type="checkbox" aria-label="Checkbox for following text input">
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </section>

</div>

<script>
  data = [{

  }]

  data = [];
  document.getElementById('tableContent').style.display = 'none';
  var hide = true;
  function searchFunction() {
    hide = false;
    document.getElementById('tableContent').style.display = 'block';
  }

  $(document).ready(function () {
    $('#dtHorizontalExample').DataTable({
      "scrollX": true
    });
    $('.dataTables_length').addClass('bs-select');
  });


</script>