<link rel="stylesheet" href="/public/css/resetAdmin.css">
<script type="text/javascript" src="/public/js/menuAdmin.js"></script>
<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img
        src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h5 class="m-0">Phạm Khánh Duy</h5>
        <p class="font-weight-light text-muted mb-0">Quản lí thư viện</p>
      </div>
    </div>
    <div class="adminLogout" style="text-align: right">
      <a href="/user/logout">Log out</a>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/admin" class="nav-link text-dark font-italic">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        Trang chủ
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/book-management" class="nav-link text-dark font-italic">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Quản lí sách
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/account-management" class="nav-link text-dark font-italic">
        <i class="fa fa-user mr-3 text-primary fa-fw"></i>
        Quản lí tài khoản
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/author-management" class="nav-link text-dark font-italic">
        <i class="fa fa-pencil mr-3 text-primary fa-fw"></i>
        Danh mục tác giả
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        Thể loại sách
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/request" class="nav-link text-dark font-italic">
        <i class="fa fa-exclamation mr-3 text-primary fa-fw"></i>
        Yêu cầu (0)
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/borrow-management" class="nav-link text-dark font-italic">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Sách đang được mượn
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/statistic" class="nav-link text-dark font-italic">
        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
        Thống kê
      </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>

  <!-- Content -->
  <h2 class="display-4 text-white">Thể loại sách</h2>
  <hr>
  <div class="search">
    <form>
      <div class="form-group">
        <label for="search">Nhập thể loại sách: </label>
        <input class="form-control" id="search" placeholder="ví dụ: Machine Learning">
      </div>
    </form>
  </div>
  <div style="text-align: right">
    <button type="button" class="btn btn-primary" onclick="searchFunction()">Tìm kiếm</button>
  </div>

  <div class=" form-group">
    <label for="pageLimit">Số kết quả hiển thị / trang: </label>
    <select class="form-control" id="pageLimit" onchange="selectParam('limit' , this.value)">
      <option>3</option>
      <option>6</option>
      <option>9</option>
    </select>
  </div>
  <section class="tableContent">
    <hr>
    <div class="controlButton">
      <button type="button" class="btn btn-primary" onclick="addFunction()">Thêm thể loại</button>
      <button type="button" class="btn btn-primary" onclick="editFunction()">Sửa thể loại</button>
      <button type="button" class="btn btn-primary" onclick="removeFunction()">Xóa thể loại</button>
    </div>

    <div style="overflow-x:auto;">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên thể loại</th>
            <th>Tổng số sách</th>
          </tr>
        </thead>
        <tbody>
          {{#each Category}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{total}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <nav class="nav justify-content-center" aria-label="Page navigation example" id="pagination">
      {{{createPagination pagination paginationClass = "pagination"}}}
    </nav>
  </section>
</div>
<script>
  let URLParams = new URLSearchParams(location.search)
  let params = {
    search: '',
    limit: 3,
    page: 1
  }

  for (let key in params) {
    if (!URLParams.has(key)) {
      URLParams.append(key, params[key]);
    }
  }
  $(document).ready(function () {

    $("#li").val(URLParams.get('limit'));


    $('#pagination li').addClass('page-item');
    $('#pagination li a').addClass('page-link');
    let savePage = URLParams.get('page');
    $('#pagination li a').each((index, item) => {
      let page = $(item).attr('href').split('=')[1];
      URLParams.set('page', page);
      let href = `/admin/catagory-management?${URLParams.toString()}`;
      $(item).attr('href', href);

    });
    URLParams.set('page', savePage);
  });

  function selectParam(key, value, reset = false) {

    if (reset) {
      for (let key in params) {
        URLParams.set(key, params[key]);
      }
    }
    URLParams.set(key, value);
    let url = `/admin/catagory-management?${URLParams.toString()}`;
    location.href = url;

  }
  function searchFunction() {
    selectParam('search', $('#search').val());
  }

  function limitChange(li) {
    selectParam('limit', li.value);
  }


</script>