<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" href="/public/css/resetAdmin.css">
<link rel="stylesheet" href="/public/css/adminRequest.css">
<script type="text/javascript" src="/public/js/menuAdmin.js"></script>
<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img
        src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h5 class="m-0">Phạm Khánh Duy</h5>
        <p class="font-weight-light text-muted mb-0">Quản lí thư viện</p>
      </div>
    </div>
    <div class="adminLogout" style="text-align: right">
      <a href="/user/logout">Log out</a>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/admin" class="nav-link text-dark font-italic">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        Trang chủ
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/book-management" class="nav-link text-dark font-italic">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Quản lí sách
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/account-management" class="nav-link text-dark font-italic">
        <i class="fa fa-user mr-3 text-primary fa-fw"></i>
        Quản lí tài khoản
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/author-management" class="nav-link text-dark font-italic">
        <i class="fa fa-pencil mr-3 text-primary fa-fw"></i>
        Danh mục tác giả
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/catagory-management" class="nav-link text-dark font-italic">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        Thể loại sách
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/request" class="nav-link text-dark font-italic">
        <i class="fa fa-exclamation mr-3 text-primary fa-fw"></i>
        Yêu cầu (0)

      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/borrow-management" class="nav-link text-dark font-italic">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Sách đang được mượn
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
        Thống kê
      </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>

  <!-- Content -->
  <h2 class="display-4 text-white">Thống kê</h2>
  <hr>



  <div>Thống kê theo: </div>
  <div class="form-group">
    <select class="form-control" id="title">
      <option>Lượt mượn sách</option>
      <option>Lượt truy cập</option>
      <option>Lượt yêu cầu</option>
      <option></option>
    </select>
  </div>

  <section>

    <div class="row">
      <div class="col-lg-5">
        <p><b>Bảng số liệu</b></p>
        <select name="" id="typeTable" onchange="ChangeFigure(this)">
          <option value="date">Tuần qua</option>
          <option value="month">Theo tháng</option>

        </select>
        <table class="table" id="borrow-month">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Số lượt mượn</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Tháng 1</th>
              <td id="Jan">15</td>

            </tr>
            <tr>
              <th scope="row">Tháng 2</th>
              <td id="Feb">15</td>

            </tr>
            <tr>
              <th scope="row">Tháng 3</th>
              <td id="Mar">15</td>

            </tr>
            <tr>
              <th scope="row">Tháng 4</th>
              <td id="Apr">15</td>

            </tr>
            <tr>
              <th scope="row">Tháng 5</th>
              <td id="May">15</td>

            </tr>
            <tr>
              <th scope="row">Tháng 6</th>
              <td id="Jun">15</td>

            </tr>
            <tr>
              <th scope="row">Tháng 7</th>
              <td id="Jul">15</td>
            </tr>
            <tr>
              <th scope="row">Tháng 8</th>
              <td id="Aug">15</td>
            </tr>
            <tr>
              <th scope="row">Tháng 9</th>
              <td id="Sep">15</td>
            </tr>
            <tr>
              <th scope="row">Tháng 10</th>
              <td id="Oct">15</td>
            </tr>
            <tr>
              <th scope="row">Tháng 11</th>
              <td id="Nov">15</td>
            </tr>
            <tr>
              <th scope="row">Tháng 12</th>
              <td id="Dec">15</td>
            </tr>
          </tbody>
        </table>
        <table class="table" id="borrow-date">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Số lượt mượn</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Thứ hai</th>
              <td id="Mon">15</td>

            </tr>
            <tr>
              <th scope="row">Thứ ba</th>
              <td id="Tue">15</td>

            </tr>
            <tr>
              <th scope="row">Thứ tư</th>
              <td id="Wed">15</td>

            </tr>
            <tr>
              <th scope="row">Thứ năm</th>
              <td id="Thu">15</td>

            </tr>
            <tr>
              <th scope="row">Thứ sáu</th>
              <td id="Fri">15</td>

            </tr>
            <tr>
              <th scope="row">Thứ bảy</th>
              <td id="Sat">15</td>

            </tr>
            <tr>
              <th scope="row">Chủ nhật</th>
              <td id="Sun">15</td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-7">
        <p><b>Biểu đồ</b></p>
        <select name="" id="typeChart" onchange="ChangeTypeChart(this)">
          <option value="bar">Biểu đồ cột</option>
          <option value="pie">Biểu đồ tròn</option>
          <option value="line">Biểu đồ đường</option>
        </select>
        <div id="ChartGrap">
          <div id="Wrapper">
            <canvas id="Chart"></canvas>
            <canvas id="Chart2"></canvas>
            <canvas id="Chart3"></canvas>
            <canvas id="Chart4"></canvas>
            <canvas id="Chart5"></canvas>
            <canvas id="Chart6"></canvas>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>

</div>
<script>
  let data = [];
  let date = [];
</script>

{{#each borrow}}
<script>
  data.push("{{status}}")
  date.push("{{borrowedDate}}");
    //console.log(data);
</script>
{{/each}}


<script>

  var info = new Array();
  date.forEach(function (item, index, array) {
    info[index] = new Array();
    var temp = item.split(" ");
    info[index].push(temp[0]);
    info[index].push(temp[1]);
    info[index].push(temp[2]);
    info[index].push(temp[3]);
  });
  data.forEach(function (item, index, array) {
    info[index].push(item);

  });

  var DataChart = [];
  let mon = 0;
  let tue = 0;
  let wed = 0;
  let thu = 0;
  let fri = 0;
  let sat = 0;
  let sun = 0;

  let Jan = 0;
  let Feb = 0;
  let Mar = 0;
  let Apr = 0;
  let May = 0;
  let Jun = 0;
  let Jul = 0;
  let Aug = 0;
  let Sep = 0;
  let Oct = 0;
  let Nov = 0;
  let Dec = 0;

  let now = new Date();

  var min = 0, max = 0;
  console.log(now.getDay());
  if (now.getDay() == 1)
    min = now.getDate() - 7;
  else if (now.getDay() == 2)
    min = now.getDate() - 8;
  else if (now.getDay() == 3)
    min = now.getDate() - 9;
  else if (now.getDay() == 4)
    min = now.getDate() - 10;
  else if (now.getDay() == 5) {
    min = now.getDate() - 11;

  }
  else if (now.getDay() == 6)
    min = now.getDate() - 12;
  else if (now.getDay() == 0)
    min = now.getDate() - 6;
  max = min + 6;
  console.log(min);
  var check = false;

  console.log(info[1][0]);
  //console.log(min);
  info.forEach(function (item, index, array) {
    console.log(item);
    if (item[0] == 'Mon' && item[2] >= min && item[2] <= max)
      mon++;
    else if (item[0] == 'Tue' && item[2] >= min && item[2] <= max)
      tue++;
    else if (item[0] == 'Wed' && item[2] >= min && item[2] <= max)
      wed++;
    else if (item[0] == 'Thu' && item[2] >= min && item[2] <= max)
      thu++;
    else if (item[0] == 'Fri' && item[2] >= min && item[2] <= max)
      fri++;
    else if (item[0] == 'Sat' && item[2] >= min && item[2] <= max)
      sat++;
    else if (item[0] == 'Sun' && item[2] >= min && item[2] <= max)
      sun++;
  });
  console.log(mon);
  info.forEach(function (item, index, array) {
    if (item[1] == 'Jan')
      Jan++;
    else if (item[1] == 'Feb')
      Feb++;
    else if (item[1] == 'Mar')
      Mar++;
    else if (item[1] == 'Apr')
      Apr++;
    else if (item[1] == 'May')
      May++;
    else if (item[1] == 'Jun')
      Jun++;
    else if (item[1] == 'Jul')
      Jul++;
    else if (item[1] == 'Aug')
      Aug++;
    else if (item[1] == 'Sep')
      Sep++;
    else if (item[1] == 'Oct')
      Oct++;
    else if (item[1] == 'Nov')
      Nov++;
    else if (item[1] == 'Dec')
      Dec++;
  });

  document.getElementById("Mon").innerHTML = mon;
  document.getElementById("Tue").innerHTML = tue;
  document.getElementById("Wed").innerHTML = wed;
  document.getElementById("Thu").innerHTML = thu;
  document.getElementById("Fri").innerHTML = fri;
  document.getElementById("Sat").innerHTML = sat;
  document.getElementById("Sun").innerHTML = sun;

  document.getElementById("Jan").innerHTML = Jan;
  document.getElementById("Feb").innerHTML = Feb;
  document.getElementById("Mar").innerHTML = Mar;
  document.getElementById("Apr").innerHTML = Apr;
  document.getElementById("May").innerHTML = May;
  document.getElementById("Jun").innerHTML = Jun;
  document.getElementById("Jul").innerHTML = Jul;
  document.getElementById("Aug").innerHTML = Aug;
  document.getElementById("Sep").innerHTML = Sep;
  document.getElementById("Oct").innerHTML = Oct;
  document.getElementById("Nov").innerHTML = Nov;
  document.getElementById("Dec").innerHTML = Dec;
  DataChart.push(mon);
  DataChart.push(tue);
  DataChart.push(wed);
  DataChart.push(thu);
  DataChart.push(fri);
  DataChart.push(sat);
  DataChart.push(sun);
  console.log(DataChart);
  let myChart = document.getElementById('Chart').getContext('2d');

  var massPopChart = new Chart(myChart, {
    type: 'bar',
    data: {
      labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'],
      datasets: [{
        label: 'Lượt mượn',
        data: [
          mon, tue, wed, thu, fri, sat, sun
        ],
        backgroundColor: 'gray'
      },

      ]
    },
    options: {
      title: {
        display: true,
        text: 'Thống kê lượt mượn sách tuần qua'
      }
    }
  });
  let myChart2 = document.getElementById('Chart2').getContext('2d');

  let massPopChart2 = new Chart(myChart2, {
    type: 'pie',
    data: {
      labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'],
      datasets: [{
        label: 'Lượt mượn',
        data: [
          mon, tue, wed, thu, fri, sat, sun
        ],
        backgroundColor: ['red', 'blue', 'green', 'pink', 'yellow', 'orange', 'gray']
      },

      ]
    },
    options: {
      title: {
        display: true,
        text: 'Thống kê lượt mượn sách tuần qua'
      }
    }
  });
  let myChart3 = document.getElementById('Chart3').getContext('2d');
  let massPopChart3 = new Chart(myChart3, {
    type: 'line',
    data: {
      labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'],
      datasets: [{
        label: 'Lượt mượn',
        data: [
          mon, tue, wed, thu, fri, sat, sun
        ],
        backgroundColor: ['red', 'blue', 'green', 'pink', 'yellow', 'orange', 'gray']
      },
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Thống kê lượt mượn sách tuần qua'
      }
    }
  });
  let myChart4 = document.getElementById('Chart4').getContext('2d');
  let massPopChart4 = new Chart(myChart4, {
    type: 'bar',
    data: {
      labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
      datasets: [{
        label: 'Lượt mượn',
        data: [
          Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec
        ],
        backgroundColor: 'red'
      },
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Thống kê lượt mượn sách theo tháng'
      }

    }
  });
  let myChart5 = document.getElementById('Chart5').getContext('2d');
  let massPopChart5 = new Chart(myChart5, {
    type: 'pie',
    data: {
      labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
      datasets: [{
        label: 'Lượt mượn',
        data: [
          Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec
        ],
        backgroundColor: ['red', 'blue', 'green', 'pink', 'yellow', 'orange', 'gray', 'black', 'pink', 'brown', 'purple', 'Navy']
      },
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Thống kê lượt mượn sách theo tháng'
      }
    }
  });
  let myChart6 = document.getElementById('Chart6').getContext('2d');
  let massPopChart6 = new Chart(myChart6, {
    type: 'line',
    data: {
      labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
      datasets: [{
        label: 'Lượt mượn',
        data: [
          Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec
        ],
        backgroundColor: 'red'
      },
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Thống kê lượt mượn sách theo tháng'
      }
    }
  });
  document.getElementById('Chart2').style.display = 'none';
  document.getElementById('Chart3').style.display = 'none';
  document.getElementById('Chart4').style.display = 'none';
  document.getElementById('Chart5').style.display = 'none';
  document.getElementById('Chart6').style.display = 'none';

  document.getElementById('borrow-month').style.display = 'none';

  var fig = "date";
  var typee = "bar";
  function ChangeTypeChart(type) {
    typee = type.value;
    //canvas = document.querySelector('#results-graph');
    if (type.value == "pie") {

      if (fig == "date") {
        document.getElementById('Chart').style.display = 'none';
        document.getElementById('Chart2').style.display = 'block';
        document.getElementById('Chart3').style.display = 'none';
        document.getElementById('Chart4').style.display = 'none';
        document.getElementById('Chart5').style.display = 'none';
        document.getElementById('Chart6').style.display = 'none';
      }
      else {
        document.getElementById('Chart').style.display = 'none';
        document.getElementById('Chart2').style.display = 'none';
        document.getElementById('Chart3').style.display = 'none';
        document.getElementById('Chart4').style.display = 'none';
        document.getElementById('Chart5').style.display = 'block';
        document.getElementById('Chart6').style.display = 'none';
      }
    }
    else if (type.value == "bar") {
      if (fig == "date") {
        document.getElementById('Chart').style.display = 'block';
        document.getElementById('Chart2').style.display = 'none';
        document.getElementById('Chart3').style.display = 'none';
        document.getElementById('Chart4').style.display = 'none';
        document.getElementById('Chart5').style.display = 'none';
        document.getElementById('Chart6').style.display = 'none';
      }
      else {
        document.getElementById('Chart').style.display = 'none';
        document.getElementById('Chart2').style.display = 'none';
        document.getElementById('Chart3').style.display = 'none';
        document.getElementById('Chart4').style.display = 'block';
        document.getElementById('Chart5').style.display = 'none';
        document.getElementById('Chart6').style.display = 'none';
      }
    }
    else {
      if (fig == "date") {
        document.getElementById('Chart').style.display = 'none';
        document.getElementById('Chart2').style.display = 'none';
        document.getElementById('Chart3').style.display = 'block';
        document.getElementById('Chart4').style.display = 'none';
        document.getElementById('Chart5').style.display = 'none';
        document.getElementById('Chart6').style.display = 'none';
      }
      else {
        document.getElementById('Chart').style.display = 'none';
        document.getElementById('Chart2').style.display = 'none';
        document.getElementById('Chart3').style.display = 'none';
        document.getElementById('Chart4').style.display = 'none';
        document.getElementById('Chart5').style.display = 'none';
        document.getElementById('Chart6').style.display = 'block';
      }
    }
  }
  function ChangeFigure(figure) {
    if (fig == "date") {
      document.getElementById('borrow-date').style.display = 'none';
      document.getElementById('borrow-month').style.display = 'block';
      fig = "month";
      if (typee == "bar") {
        document.getElementById('Chart').style.display = 'none';
        document.getElementById('Chart4').style.display = 'block';
      }
      else if (typee == "pie") {
        document.getElementById('Chart2').style.display = 'none';
        document.getElementById('Chart5').style.display = 'block';
      }
      else {
        document.getElementById('Chart3').style.display = 'none';
        document.getElementById('Chart6').style.display = 'block';
      }
    }
    else {
      document.getElementById('borrow-month').style.display = 'none';
      document.getElementById('borrow-date').style.display = 'block';
      fig = "date";
      if (typee == "bar") {
        document.getElementById('Chart4').style.display = 'none';
        document.getElementById('Chart').style.display = 'block';
      }
      else if (typee == "pie") {
        document.getElementById('Chart5').style.display = 'none';
        document.getElementById('Chart2').style.display = 'block';
      }
      else {
        document.getElementById('Chart6').style.display = 'none';
        document.getElementById('Chart3').style.display = 'block';
      }
    }
  }
</script>