<!-- Body ---------------------------------------------------------------------------------------------->
<div class="container">
  <h1>Giới thiệu thư viện</h1>
  <hr>
  <h4>Thông tin chung:</h4>
  <p>Thư viện khoa Công nghệ thông tin, trường Đại học Khoa học tự nhiện, Đại học Quốc gia thành phố Hồ Chí Minh</p>
  <p>Địa chỉ: I43 - tòa nhà I - 227 Nguyễn Văn Cừ, quận 5, thành phố Hồ Chí Minh</p>

  <p>Thư viện cung cấp các loại sách khác nhau, từ cơ bản đến nâng cao, cả trong và ngoài nước, nhằm đáp ứng nhu cầu về
    đọc sách cùng như cập nhật kiến thức và xu thế cho giảng viên và sinh viên khoa Công nghệ thông tin, đại học Khoa
    học
    tự nhiên</p>
  <hr>
  <h4>Quy định:</h4>
  <p>Giữ sách nguyên vẹn</p>
  <p>Trả sách đúng hạn</p>
  <p><i>Mọi trường hợp vi phạm sẽ bị xử phạt theo quy định</i></p>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- aos-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script language="javascript">
  document.getElementById("search").onclick = function () {
    document.getElementById("quicksearch-hidden").hidden = false;
    document.getElementById("search").hidden = true;
  };

  document.getElementById("searchClose").onclick = function () {
    document.getElementById("quicksearch-hidden").hidden = true;
    document.getElementById("search").hidden = false;
  };
</script>