
    <link rel="stylesheet" href="/public/css/book_info.css">

    <!-- Body ---------------------------------------------------------------------------------------------->
    <div class="container-fluid" id="body">
        <div class="row" id="body-content-top">
            <div class="col-sm-12 col-md-3" id="body-content-left">
                <img src="img/Book1.png" style="border-radius: 5px;border-style: outset;" alt="">
            </div>
            <div class="col-md-7" id="body-content-right">
                <div>
                    <h5>Thông tin chi tiết</h5>
                    <p>- Tên: Artifical Intellligence <br> - Tác giả: Sikander Sultan<br> - ISBN: 123123-123123-4132413<br> - Tags: computer, science, ai, robot<br> - Tái bản lần thứ 7</p>
                </div>
                <div>
                    <h5>Giới thiệu</h5>
                    <p id = "description">For a beginner, programming can seem like something scary or hard to do. With all the technical terms and concepts out there, as well as the numerous programming languages available at your disposal, it is so important - now more than
                        ever before - to build a strong foundation. When you understand the fundamentals of programming, learning any programming language is a piece of cake as well as the numerous programming languages available at your disposal, it
                        is so important - now more than ever before - to build a strong foundation. When you understand the fundamentals of programming, learning any programming language is a piece of cake 
                        For a beginner, programming can seem like something scary or hard to do. With all the technical terms and concepts out there, as well as the numerous programming languages available at your disposal, it is so important - now more than
                        ever before - to build a strong foundation. When you understand the fundamentals of programming, learning any programming language is a piece of cake as well as the numerous programming languages available at your disposal, it
                        is so important - now more than ever before - to build a strong foundation. When you understand the fundamentals of programming, learning any programming language is a piece of cake </p>
                </div>
                <button class="btn">Mượn sách</button>
            </div>
        </div>
        <h5 style="margin-left:40px;">Dành riêng cho bạn:</h5>
        <div class="row " id="body-content-bottom">
            <div class="col-md-4" style="text-align: center;">
                <img src="img/Book1.png" alt="">
                <p>Book1</p>
            </div>
            <div class="col-md-4 " style="text-align: center;">
                <img src="img/Book2.jpg" alt="">
                <p>Book2</p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <img src="img/Book3.jpg" alt="">
                <p>Book3</p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <img src="img/Book3.jpg" alt="">
                <p>Book4</p>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

