<!-- Body ---------------------------------------------------------------------------------------------->
<div class="banner">
    <div class="bannerText">
      <h1>THƯ VIỆN</h1>
      <p>Đại học khoa học tự nhiên</p>
      <p>Khoa công nghệ thông tin</p>
    </div>
  </div>
  <div class="newbook container">
    <div class="title">
      <h1>Sách mới</h1>
      <h5>Sách mới nhập về, sách mới tái bản, sách mới cập nhật phiên bản mới</h5>
    </div>
    <div class="content" style="width:100%">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="contentWrapper" ">
          <div class=" carousel-inner col-lg-10" style="margin-left:50%; transform: translate(-50%)">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-3">
                  <div class="content_img">
                    <img src="img/Book1.png" alt="">
                  </div>
                </div>
                <div class="col-lg-9 bookinfo">
                  <div class="bookname">
                    <h1>Computer Science</h1>
                  </div>
                  <div class="bookauthor">
                    <p>Dr.Anandumuragon</p>
                  </div>
                  <div class="booksummary">
                    <p>Helo Hello Helo Hello Helo Hello Helo Hello Helo HelloHelo Hello
                      Helo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo Hello
                      Helo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo Hello
                    </p>
                  </div>
                  <div class="controlbtn">
                    <button id="moreinfo" onclick="Moreinfo();">Xem thêm</button>
                    <button id="borrow" onclick="Borrow();">Mượn sách</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-3">
                  <div class="content_img">
                    <img src="img/Book2.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-9 bookinfo">
                  <div class="bookname">
                    <h1>Computer Science</h1>
                  </div>
                  <div class="bookauthor">
                    <p>Dr.Anandumuragon</p>
                  </div>
                  <div class="booksummary">
                    <p>Helo Hello Helo Hello Helo Hello Helo Hello Helo HelloHelo Hello
                      Helo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo Hello
                      Helo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo HelloHelo Hello
                    </p>
                  </div>
                  <div class="controlbtn">
                    <button id="moreinfo" onclick="Moreinfo();">Xem thêm</button>
                    <button id="borrow" onclick="Borrow();">Mượn sách</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-3">
                  <div class="content_img">
                    <img src="img/Book3.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-9 bookinfo">
                  <div class="bookname">
                    <h1>Computer Science</h1>
                  </div>
                  <div class="bookauthor">
                    <p>Dr.Anandumuragon</p>
                  </div>
                  <div class="booksummary">
                    <p>The overall aim of this crash course Artificial Intelligence is to explore
                      and examine key
                      concepts, methods and techniques used in the Artificial Intelligence practical
                      usage and also to
                      look at the organisation, the group, the individual and their interaction
                      within the confines of
                      the artificial intelligence implementation lifecycle.
                    </p>
                  </div>
                  <div class="controlbtn">
                    <button id="moreinfo" onclick="Moreinfo();">Xem thêm</button>
                    <button id="borrow" onclick="Borrow();">Mượn sách</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev col-lg-1" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next col-lg-1" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  </div>

  <!--Sách theo chủ đề ------------------------------------------------------------------ -->
  <div class="catalog" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <div class="title">
      <h1>Sách theo chủ đề</h1>
      <h5>Tuyển tập sách theo những chủ đề phổ biến</h5>
    </div>
    <div class="content">
      <div class="subcontentflex">
        <div class="subcontentwrapprer">
          <div class="subcontent" style="background-image:url(img/getting-started.jpg);"></div>
          <p>Nhập môn</p>
        </div>
        <div class="subcontentwrapprer">
          <div class="subcontent" style="background-image:url(img/machinelearning.jpg);"></div>
          <p>Machine learning</p>
        </div>
        <div class="subcontentwrapprer">
          <div class="subcontent" style="background-image:url(img/newtech.jpg);"></div>
          <p>Công nghệ mới</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Lịch làm việc -->
  <div class="container" style="padding: 30px;" data-aos="fade-left" data-aos-offset="300"
    data-aos-easing="ease-in-sine">
    <div class="row worktime" style="background-color:beige">
      <div class="col-lg-6 worktime_img" style="background-image: url(img/worktime.jpg); width: 500px; height: 500px">
      </div>
      <div class="col-lg-6 worktime_content"
        style="text-align: center; margin-top: 20%; transform: translate(-0%,-20%)">
        <h1>Lịch làm việc</h1>
        <div class="worktime_content_time">
          <p>Thứ 2 - Thứ 6: 9h00 - 16h00</p>
          <p>Hẹn lịch trước khi đến thư viện <a href="bookCatalog">(Hẹn lịch ngay)</a></p>
        </div>
        <div class="worktime_content_notification">
          <p><b>Thông báo: </b>Ngày 2-12-2019 thư viện tạm không làm việc</p>
          <p> </p>
        </div>
      </div>
    </div>
  </div>

  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- aos-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <script language="javascript">
    document.getElementById("search").onclick = function () {
      document.getElementById("quicksearch-hidden").hidden = false;
      document.getElementById("search").hidden = true;
    };

    document.getElementById("searchClose").onclick = function () {
      document.getElementById("quicksearch-hidden").hidden = true;
      document.getElementById("search").hidden = false;
    };

    function Borrow() {
      localStorage.setItem("isbn", "053av55");
      window.location = "bookCatalog";
    };

    function Moreinfo() {
      window.location="book_info";
    }
  </script>
  