<link rel="stylesheet" href=" /public/css/Login.css">
<!-- Modal -->


{{!-- ---------------------------------------
---------------------------------------------- --}}

<div class="Login">

  <div class="container-fluid">
    <div class="row ">

      <div class="col-4 "></div>
      <div class="col-4 login_Form ">
        <form style="margin-top:4%;" action="login" method="POST">
          <div class="form-group ">
            <img src="/public/img/icon_KHTN.png " alt="icon_KHTN " class="icon_KHTN ">
            <label for="exampleInputEmail1 "
              style="font-size: 50px;text-align: center; padding-top: 10px; padding-left: 40px;">THƯ
              VIỆN</label>
          </div>
          {{#if message}}
          <div class="form-group alert {{type}}">
            <strong>{{message}}</strong>
          </div>
          {{/if}}
          <div class="form-group ">
            <label for="username ">Tên tài khoản</label>
            <input type="email " class="form-control " name="username" id="username "
              placeholder="Nhập email / Tên tài khoản ">
            <small id="emailHelp " class="form-text text-muted ">Chúng tôi sẽ không bao giờ tiết lộ danh
              tính của bạn.</small>
          </div>
          <div class="form-group ">
            <label for="password ">Mật khẩu</label>
            <input type="password" name="password" id="password" class="form-control validate"
              placeholder="Nhập mật khẩu">
          </div>
          <div class="row">
            <div class="col-5">
              <div>
                <input type="checkbox" name="keepLoggedIn" id="keepLoggedIn" name="keepLoggedIn">
                <label for="keepLoggedIn">Keep me logged in</label>
              </div>
              <a href="/user/signUp">Chưa có tài khoản?</a>
              <a href="/user/resetPasswordRequest">Quên mật khẩu</a>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
              <button type="submit " class="btn btn-primary " style="float: right;">Đăng nhập</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>