<link rel="stylesheet" href="/public/css/lookup.css">
<div class="body">
  <div class="container" style="background-image: url(img/searchbanner.jpg">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="Keyword" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Từ khóa</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div id="bookname">
              <a class="dropdown-item" href="#">Tên sách</a>
            </div>
            <a class="dropdown-item" href="#" id="booktopic">Chủ đề sách</a>
            <a class="dropdown-item" href="#" id="authername">Tác giả</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-8">
        <div class="form-group">
          <input type="search" class="form-control" id="search" placeholder="Nhập vào để tìm kiếm">
        </div>
      </div>

      <div class="col-lg-2">
        <button class="btn"
          style="height: 38px; border-radius: 10px; margin-left: 100%; transform: translate(-100%)">Tìm kiếm</button>
      </div>
      <div class="col-lg-1"></div>
    </div>

  </div>
</div>
<!--Result ----------------------------------------------------------------------------------------------- -->
<div class="container line">
  <hr>
</div>
<div class="body container">
  <div class="title">
    <h1> Kết quả</h1>
  </div>
  <div class="filter" style="display: flex">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="Filter" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sắp xếp kết quả
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div id="pupulationRate">
          <a class="dropdown-item" href="#">Sắp xếp theo độ phổ biến</a>
        </div>
        <a class="dropdown-item" href="#" id="establishYear">Sắp xếp theo năm xuất bản</a>
        <a class="dropdown-item" href="#" id="sameKeyword">Sắp xếp theo số từ khóa trùng khớp</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="Filter" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Số kết quả hiển thị
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div id="top10">
          <a class="dropdown-item" href="#">Hiển thị top 10 kết quả</a>
        </div>
        <a class="dropdown-item" href="#" id="top50">Hiển thị top 50 kết quả</a>
        <a class="dropdown-item" href="#" id="all">Hiển thị tất cả kết quả</a>
      </div>
    </div>
  </div>
  <div class="resFilter" style="display: flex">
    <p><i id="resFilter1">Sắp xếp theo số từ khóa trùng khớp</i></p>
    <p></p>
    <p> <i id="resFilter2">, Hiển thị tất cả kết quả</i></p>
  </div>
  <div class="searchAdv">
    <a data-toggle="collapse" href="#collapseExample"><i>Tìm kiếm nâng cao ?</i></a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form>
          <div class="form-group">
            <label for="searchAdv_Authername">Tên tác giả</label>
            <input type="email" class="form-control" id="searchAdv_Authername" placeholder="Nhập tên của tác giả">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Thể loại</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Lập trình web</option>
              <option>Java</option>
              <option>C và C++</option>
              <option>Công nghệ mới</option>
              <option>Khác</option>
            </select>
          </div>
          <div class="form-group">
            <label for="searchAdv_EstablishYear">Năm xuất bản</label>
            <input type="email" class="form-control" id="searchAdv_EstablishYear" placeholder="Nhập năm xuất bản">
          </div>
          <div class="form-group">
            <label for="searchAdv_Language">Ngôn ngữ</label>
            <select class="form-control" id="searchAdv_Language">
              <option>Tiếng việt</option>
              <option>Tiếng anh</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="res">
    {{#each books}}
    <div class="row res-item" style="background-color: #FFEEB1; border-radius: 50px;">
      <div class="col-lg-3">
        <div class="content_img">
          <img src="img/Book1.png" alt="">
        </div>
      </div>
      <div class="col-lg-9 bookinfo">
        <div class="bookname">
          <h1>{{bookName}}</h1>
        </div>
        <div class="bookauthor">
          <p>Dr.Anandumuragon</p>
        </div>
        <div class="booktype">
          <p>Thể loại: Computer Science</p>
        </div>
        <div class="booksummary">
          <p>Những kiến thức căn bản về khoa học máy tính, những chủ đề phổ biến trong khoa học máy tính
          </p>
        </div>
        <div class="controlbtn">
          <button id="moreinfo" onclick="Moreinfo();">Xem thêm</button>
          <button onclick="Borrow();">Mượn sách</button>
        </div>
      </div>
    </div>
    {{/each}}
    <nav aria-label="Page navigation example">
      <ul class="pagination" style="margin-left: 50%; transform: translate(-50%);">
        <div style="margin-left: 50%; transform: translate(-50%); display: flex">
          <li class="page-item">
            <a class=" page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </div>

      </ul>
    </nav>
  </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- aos-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script language="javascript">
  document.getElementById("top10").onclick = function () {
    console.log("a");
    document.getElementById("resFilter2").innerHTML = ", Hiển thị top 10 kết quả";
  };

  document.getElementById("top50").onclick = function () {
    document.getElementById("resFilter2").innerHTML = ", Hiển thị top 50 kết quả";
  };

  document.getElementById("all").onclick = function () {
    document.getElementById("resFilter2").innerHTML = ", Hiển thị tất cả kết quả";
  };

  document.getElementById("pupulationRate").onclick = function () {
    document.getElementById("resFilter1").innerHTML = "Sắp xếp theo độ phổ biến";
  };

  document.getElementById("establishYear").onclick = function () {
    document.getElementById("resFilter1").innerHTML = "Sắp xếp theo năm xuất bản";
  };

  document.getElementById("sameKeyword").onclick = function () {
    document.getElementById("resFilter1").innerHTML = "Sắp xếp theo số từ khóa trùng khớp";
  };
  document.getElementById("bookname").onclick = function () {
    document.getElementById("Keyword").innerHTML = "    Tên sách  ";
  };

  document.getElementById("authername").onclick = function () {
    document.getElementById("Keyword").innerHTML = "Tác giả";
  };

  document.getElementById("booktopic").onclick = function () {
    document.getElementById("Keyword").innerHTML = "Chủ đề";
  };

  function Borrow() {
    localStorage.setItem("isbn", "053av55");
    window.location = "bookCatalog";
  };

  function Moreinfo() {

    window.location = "book_info";
  };
</script>
