<div class="container-fluid">
  <form action="{{token}}" method="POST">
    <div>
      <img src="/public/img/icon_KHTN.png " alt="icon_KHTN " class="icon_KHTN ">
      <label for="exampleInputEmail1 "
        style="font-size: 20px;text-align: center; padding-top: 10px; padding-left: 40px;">Đại Học Khoa Hoc Tự Nhiên
        <br> Khoa Công nghệ thông tin <br></label>
    </div>
    {{#if message}}
    <div class="form-group alert {{type}}">
      <strong>{{message}}</strong>
    </div>
    {{/if}}
    <div class="md-form mb-3">
      <label for="resetPassword ">New Password</label>
      <input type="password " class="form-control " name="resetPassword" id="resetPassword " placeholder="Enter password ">
      <small class="form-text text-muted ">Password</small>
    </div>

    <div class="md-form mb-3">
      <label for="confirmResetPassword ">Confirm New Password</label>
      <input type="password " class="form-control " name="confirmResetPassword" id="confirmResetPassword"
        placeholder="confirm password ">
      <small class="form-text text-muted ">Confirm Password</small>
    </div>
    <div class=" d-flex justify-content-center">
      <button type="submit " value="resetPassword" class="btn btn-primary " style="float: right;"
        style="color:white;text-decoration:none;">Gửi thông tin</button>
    </div>

  </form>
</div>