<div class="container-fluid">
  <form action="resetPasswordRequest" method="POST">
    <div>
      <img src="/public/img/icon_KHTN.png " alt="icon_KHTN " class="icon_KHTN ">
      <label for="exampleInputEmail1 "
        style="font-size: 20px;text-align: center; padding-top: 10px; padding-left: 40px;">Đại Học Khoa
        Hoc Tự Nhiên <br> Khoa Công nghệ thông tin <br></label>

    </div>
    {{#if message}}
    <div class="form-group alert {{type}}">
      <strong>{{message}}</strong>
    </div>
    {{/if}}
    <div class="md-form mb-3">
      <label style="font-size: 30px; padding-left: 100px;">Lấy lại mật khẩu</label>
    </div>
    <div class="md-form mb-3">
      <label for="resetPasswordEmail ">Email</label>
      <input type="email " class="form-control " name="resetPasswordEmail" id="resetPasswordEmail "
        placeholder="Enter email ">
      <small class="form-text text-muted ">VD:1753057@student.hcmus.edu.vn</small>
    </div>
    <small style="color: grey;">Email tạo lại mật khẩu sẽ được gửi đến hộp thư của bạn trong
      thời gian sớm nếu không thấy thông báo thư mới hãy kiểm tra trong mục Spam.</small>
    <div class=" d-flex justify-content-center">
      <button type="submit " value="resetPassword" class="btn btn-primary " style="float: right;"
        style="color:white;text-decoration:none;">Gửi thông tin</button>
    </div>
  </form>
</div>