    <link rel="stylesheet" href="/public/css/Login.css">


    <div id="includedHeader"></div>
    <div class="Login">

      <div class="class=container-fluid">
        <div class="row ">

          <div class="col-4 "></div>
          <div class="col-4 login_Form ">
            <form style="margin-top:0%;" action="signUp" method="POST">
              <div class="form-group ">
                <img src="/public/img/icon_KHTN.png " alt="icon_KHTN " class="icon_KHTN ">
                <label for="exampleInputEmail1 "
                  style="font-size: 50px;text-align: center; padding-top: 10px; padding-left: 40px;">THƯ
                  VIỆN</label>
              </div>
              {{#if message}}
              <div class="form-group alert {{type}}">
                <strong>{{message}}</strong>
              </div>
              {{/if}}
              <div class="form-group ">
                <label for="username ">Tên </label>
                <input type="text " class="form-control " name="username" id="username "
                  placeholder="full name ">
                <small id="emailHelp " class="form-text text-muted ">Chúng tôi sẽ không bao giờ tiết lộ dah
                  tính của bạn.</small>
              </div>
              <div class="form-group ">
                <label for="password ">Mật khẩu</label>
                <input type="password" name="password" id="password" class="form-control validate" placeholder="Nhập mật khẩu">
              </div>
              <div class="form-group ">
                <label for="exampleInputPassword1 ">Xác nhận lại mật khẩu</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control validate"
                  placeholder="Nhập lại mật khẩu">
              </div>
              <div class="form-group ">
                <label for="email ">Email sinh viên / giảng viên</label>
                <input type="email " name="email" class="form-control " id="email" aria-describedby="emailHelp "
                  placeholder="Enter email ">
              </div>
              <div class="row">

                <div class="col-5">
                </div>

                <div class="col-2"></div>
                <div class="col-5">
                  <button type="submit " value="Submit" class="btn btn-primary " style="float: right;">Đăng kí</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
