    <link rel="stylesheet" href="css/Login.css">

    
    <div id="includedHeader"></div>
    <div class="Login">

        <div class="class=container-fluid">
            <div class="row ">

                <div class="col-4 "></div>
                <div class="col-4 login_Form ">
                    <form style="margin-top:0%;">
                        <div class="form-group ">
                            <img src="img/icon_KHTN.png " alt="icon_KHTN " class="icon_KHTN ">
                            <label for="exampleInputEmail1 "
                                style="font-size: 50px;text-align: center; padding-top: 10px; padding-left: 40px;">THƯ
                                VIỆN</label>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Tên tài khoản</label>
                            <input type="email " class="form-control " id="exampleInputEmail1 "
                                aria-describedby="emailHelp " placeholder="Nhập email ">
                            <small id="emailHelp " class="form-text text-muted ">Chúng tôi sẽ không bao giờ tiết lộ dah
                                tính của bạn.</small>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputPassword1 ">Mật khẩu</label>
                            <input type="password" id="defaultForm-pass" class="form-control validate"
                                placeholder="Nhập mật khẩu">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputPassword1 ">Xác nhận lại mật khẩu</label>
                            <input type="password" id="defaultForm-pass" class="form-control validate"
                                placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1 ">Email sinh viên / giảng viên</label>
                            <input type="email " class="form-control " id="exampleInputEmail1 "
                                aria-describedby="emailHelp " placeholder="Enter email ">
                        </div>
                        <div class="row">

                            <div class="col-5">
                            </div>

                            <div class="col-2"></div>
                            <div class="col-5">
                                <button type="submit " class="btn btn-primary " style="float: right;"><a
                                        href="/index" style="color:white;text-decoration:none;">Đăng kí</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
