    <link rel="stylesheet" href="css/user_profile.css">
    <div class="container-fluid" id="body">
        <div class="row" id="body-content">
            <div class="col-md-3" id="body-content-left">
                <img src="img/avatar.jpeg" width='190' height='270' alt="">
                <button class="btn">Edit Profile</button>
            </div>
            <div class="col-md-7" id="body-content-right">
                <div class="row" id="uinfo-name">
                    <h6>- Tên: </h6>
                    <p>Võ Vương Quốc Anh</p>
                </div>
                <div class="row" id="uinfo-id">
                    <h6>- ID:</h6>
                    <p>1753048</p>
                </div>
                <div class="row" id="uinfo-age">
                    <h6>- Tuổi:</h6>
                    <p>20</p>
                </div>
                <div class="row" id="uinfo-falcuty">
                    <h6>- Khoa:</h6>
                    <p>Công nghệ thông tin</p>
                </div>
                <div class="row" id="uinfo-birth">
                    <h6>- Ngày sinh:</h6>
                    <p> 01-05-1999</p>
                </div>
                <div class="row" id="uinfo-email">
                    <h6>- Email:</h6>
                    <p>1753048@student.hcmus.edu.vn</p>
                </div>
                <div class="row" id="uinfo-phone">
                    <h6>- Số điện thoại: </h6>
                    <p> 0384422660</p>
                </div>
            </div>
        </div>
    </div>
    <div id="includedFooter"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
