* {
    font-family: "Baloo";
}

#header {
    background-color: white;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/Home_Banner.png);
    height: 700px;
}

form {
    background-color: white;
    padding: 30px;
    width: 470px;
}

.icon_KHTN {
    width: 100px;
}

input {
    border: none!important;
    border-bottom: 1px solid black!important;
    border-radius: 0px!important;
    padding-left: 0px!important;
}

#footer-container {
    display: none;
}